
/* 
    Created on : 21/10/2014, 21:44:27
    Author     : Notebook Gateway 
print.css
*/

body{
    background-color: white;
    color:black; }

h1,h1,header p{text-align: center;}

figure{
    width: 33%;
    height: auto;
    float:left;
    margin-top:20px;       
}

.fim{clear: both;}
figcaption{font-weight: bold;}

.nImprimir{display: none;}